<!DOCTYPE>
<html>
    <head>
        <title>
            Friends Co
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/semantic.css" integrity="sha512-+AdxWMqfOdtwMuXK482e5OgHYzN06s97n3NTAeAdTlUvlIgCBx3SUKvMculJIedylDfVCaQFdD6HaojI4aeBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel= "stylesheet" type="text/css" href="/stylesheets/app.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div id="square" class="ui inverted   menu">
        
            <div class="ui container">
                
              <a href="/friends" class=" item"><i class="handshake icon"></i> Friends Co.</a>
              
              <a href="/friends/new" class="item"><i class="plus circle icon"></i>New friend</a>
             
              <div class="right menu">
                <a class="ui item">Logout</a>
              </div>
              
            </div>
        </div>
<div id="overall">
